# Kuggle 3.5기 코딩 테스트

#### Kuggle 3.5기에 지원해주셔서 감사합니다 :)

### 1. 다음의 문제를 해결해주세요!

Score 리스트에는 20개의 점수가 담겨 있습니다. 
- pof 리스트에는 60점이 넘으면 PASS, 넘지 못하면 FAIL로 저장해주세요.
- eoo 리스트에는 점수가 짝수면 EVEN, 홀수면 ODD로 저장해주세요.

In [46]:
# 이 셀을 실행해주셔야 합니다!
import random
score = [random.randint(0,100) for i in range(20)]

In [47]:
score

[92, 29, 83, 73, 98, 18, 91, 38, 71, 27, 11, 90, 76, 33, 49, 9, 50, 0, 79, 35]

In [48]:
pof=["PASS" if i>= 60 else "FAIL" for i in score]
pof

['PASS',
 'FAIL',
 'PASS',
 'PASS',
 'PASS',
 'FAIL',
 'PASS',
 'FAIL',
 'PASS',
 'FAIL',
 'FAIL',
 'PASS',
 'PASS',
 'FAIL',
 'FAIL',
 'FAIL',
 'FAIL',
 'FAIL',
 'PASS',
 'FAIL']

In [50]:
eoo=["EVEN" if i%2==0 else "ODD" for i in score]
eoo

['EVEN',
 'ODD',
 'ODD',
 'ODD',
 'EVEN',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'ODD',
 'ODD',
 'EVEN',
 'EVEN',
 'ODD',
 'ODD',
 'ODD',
 'EVEN',
 'EVEN',
 'ODD',
 'ODD']

### 2. emp는 현재 직원들로 구성된 딕셔너리입니다. 직원을 관리하는 프로그램을 만들어 주세요.
- 1번이 입력되면, '이름, 나이, 전화번호, 연봉'을 입력받아 딕셔너리에 추가합니다.
- 2번이 입력되면, '퇴사한 직원의 이름'을 물은 후 해당 직원의 정보를 삭제합니다. 단, '없는 직원의 이름'이 입력되면, '없는 사원입니다'를 출력해주세요.
- 3번이 입력되면, '급여를 인상할 직원의 이름'과 '얼마나 인상할 지'를 입력받아, 해당 직원의 급여를 인상해주세요.
- 4번이 입력되면, 직원의 이름으로만 구성된 리스트를 출력합니다.
- 그 외의 다른 번호가 입력되면, '잘못된 숫자를 입력하셨습니다'를 출력해주세요.

In [37]:
emp={"김영호":[24,"010-1234-5678",4400],"이정현":[22,"010-1111-2222",4800],
     "최진영":[20,"010-3333-4444",4200],"고수원":[27,"010-5555-6666",5600],
     "정지선":[23,"010-7866-7563",4600],"박주원":[26,"010-4568-1140",5300]}

In [38]:
def emp_managing(num):
    if num==1:
        print("직원 정보를 추가합니다.")
        name=input("이름:")
        age=int(input("나이:"))
        phone=input("전화번호:")
        salary=int(input("연봉:"))
        emp[name]=[age,phone,salary]
        print(emp)
    elif num==2:
        who=input("퇴사한 직원의 이름은 무엇입니까?")
        try:
            del emp[who]
            print(emp)
        except:
            print("없는 사원입니다.")
    elif num==3:
        who=input("어떤 직원의 급여를 인상할까요?")
        hm=int(input("얼마나 인상할까요?"))
        emp[who][2]+=hm
        print(emp[who])
    elif num==4:
        print("직원의 이름 리스트를 출력합니다")
        print(list(emp.keys()))
    else:
        print("잘못된 숫자를 입력하셨습니다")

### 3. 입력받은 순서까지의 피보나치 수열을 생성하고 해당 숫자를 이진수로 변환하여 새로운 리스트에 담아라.

In [51]:
def fib(n):
    if n==0: return 0
    if n==1: return 1
    return fib(n-2)+fib(n-1)

In [64]:
seq=[]
bi=[]
num=int(input("숫자를 입력하시오:"))
for i in range(num):
    seq.append(fib(i))
print(seq)

숫자를 입력하시오:5
[0, 1, 1, 2, 3]

In [65]:
for n in seq:
    ans=""
    if n==0:
        ans+='0'
        bi.append(ans)
    elif n==1:
        ans+='1'
        bi.append(ans)
    else:
        while True:
            if n%2==0:
                ans+='0'
                n=n/2
            else:
                ans+='1'
                n=n//2
            if n==1:
                ans+='1'
                ans=ans[::-1]
                break
        bi.append(ans)

In [66]:
bi

['0', '1', '1', '10', '11']

### 4. 빈 리스트 a,b 가 있다. 0~9의 숫자 중 짝수는 a 리스트에, 홀수는 b 리스트에 들어가도록 하시오.(0은 짝수라 가정)

In [2]:
a=[]; b=[]
for i in range(0,10):
    if i%2==0:
        a.append(i)
    else:
        b.append(i)
print(a,b)

[0, 2, 4, 6, 8] [1, 3, 5, 7, 9]

### 5. 10 미만의 자연수에서 3과 5의 배수를 구하면 3, 5, 6, 9이다. 이들의 총합은 23이다.1000 미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하라.

In [4]:
result = []
for i in range(1000):
    if i%3 == 0 or i%5 ==0:
        result.append(i)
result_sum = sum(result)
result_sum

233168

In [5]:
hap = [n for n in range(1000) if n%3 == 0 or n%5 == 0]
sum(hap)

233168

### 6. 지불금액과 상품가격을 인수로 받아서 거스름돈으로 500원,100원,50원,10원을 몇 개씩 줘야하는지 반환하는 함수를 작성하세요.

In [7]:
def charger(상,지):
    five = (상-지)//500
    one = ((상-지)-500*five)//100
    fiveten = ((상-지)-500*five-100*one)//50
    oneten = ((상-지)-500*five-100*one-50*fiveten)//10
    return f"'500원:{five}개,'100원:{one}개,'50원:{fiveten}개,'10원:{oneten}개"

In [8]:
b = charger(5000,2040)
print(b)

'500원:5개,'100원:4개,'50원:1개,'10원:1개